#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        /* ZMK内部でディスプレイとして認識させるための必須定義 */
        zephyr,display = &oled;
        /* バッテリー警告を解消するための定義 */
        zmk,battery = &vbatt;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        col-gpios
            = <&xiao_d 1 GPIO_ACTIVE_HIGH>
            , <&xiao_d 2 GPIO_ACTIVE_HIGH>
            ;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 7>;
        output-ohms = <2000000>;
        full-ohms = <(2000000 + 806000)>;
    };
};


&xiao_i2c {
    status = "okay";
    /* 通信エラーを防ぐため低速(100kHz)に設定 */
    clock-frequency = <100000>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        ready-da-ms = <250>;
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-offset = <0>;
        page-offset = <0>;      /* Zephyr 4.1.0で必須 */
        prechargep = <0x22>;
        /* リセットピンの定義：D6ピンを使用する場合 */
        /* 物理配線：OLEDのRES(RESET)ピンをXIAOのD6へ接続してください */
        reset-gpios = <&xiao_d 6 GPIO_ACTIVE_LOW>;
        /* 128x32の標準的な表示設定 */
        segment-remap;
        com-invdir;
    };
};